.maxs {
  margin: $xsmall-margin;
}

.mtxs {
  margin-top: $xsmall-margin;
}

.mbxs {
  margin-bottom: $xsmall-margin;
}

.mlxs {
  margin-left: $xsmall-margin;
}

.mrxs {
  margin-right: $xsmall-margin;
}

.maxs {
  margin: $xsmall-margin;
}

.mts {
  margin-top: $small-margin;
}

.mbs {
  margin-bottom: $small-margin;
}

.mls {
  margin-left: $small-margin;
}

.mrs {
  margin-right: $small-margin;
}

.mhs {
  margin-left: $small-margin;
  margin-right: $small-margin;
}

.mvs {
  margin-top: $small-margin;
  margin-bottom: $small-margin;
}

.mam {
  margin: $medium-margin;
}

.mtm {
  margin-top: $medium-margin;
}

.mbm {
  margin-bottom: $medium-margin;
}

.mlm {
  margin-left: $medium-margin;
}

.mrm {
  margin-right: $medium-margin;
}

.mhm {
  margin-left: $medium-margin;
  margin-right: $medium-margin;
}

.mvm {
  margin-top: $medium-margin;
  margin-bottom: $medium-margin;
}

.mal {
  margin: $large-margin;
}

.mtl {
  margin-top: $large-margin;
}

.mbl {
  margin-bottom: $large-margin;
}

.mll {
  margin-left: $large-margin;
}

.mrl {
  margin-right: $large-margin;
}

.mhl {
  margin-left: $large-margin;
  margin-right: $large-margin;
}

.mvl {
  margin-top: $large-margin;
  margin-bottom: $large-margin;
}

.maxl {
  margin: $xlarge-margin;
}

.mtxl {
  margin-top: $xlarge-margin;
}

.mbxl {
  margin-bottom: $xlarge-margin;
}

.mlxl {
  margin-left: $xlarge-margin;
}

.mrxl {
  margin-right: $xlarge-margin;
}

.mhxl {
  margin-left: $xlarge-margin;
  margin-right: $xlarge-margin;
}

.mvxl {
  margin-top: $xlarge-margin;
  margin-bottom: $xlarge-margin;
}

.maxxl {
  margin: $xxlarge-margin;
}

.mtxxl {
  margin-top: $xxlarge-margin;
}

.mbxxl {
  margin-bottom: $xxlarge-margin;
}

.mlxxl {
  margin-left: $xxlarge-margin;
}

.mrxxl {
  margin-right: $xxlarge-margin;
}

.mhxxl {
  margin-left: $xxlarge-margin;
  margin-right: $xxlarge-margin;
}

.mvxxl {
  margin-top: $xxlarge-margin;
  margin-bottom: $xxlarge-margin;
}

.mhn {
  margin-right: 0;
  margin-left: 0;
}

.mvn {
  margin-top: 0;
  margin-bottom: 0;
}

.man {
  margin: 0;
}

.mbn {
  margin-bottom: 0;
}

.mtn {
  margin-top: 0;
}

.mrn {
  margin-right: 0;
}

.mln {
  margin-left: 0;
}
