.pan {
  padding: 0;
}
.pln {
  padding-left: 0;
}
.prn {
  padding-right: 0;
}
.ptn {
  padding-top: 0;
}
.pbn {
  padding-bottom: 0;
}
.pvn {
  padding-top: 0;
  padding-bottom: 0;
}
.phn {
  padding-left: 0;
  padding-right: 0;
}
.paxs {
  padding: $xsmall-padding;
}
.ptxs {
  padding-top: $xsmall-padding;
}
.pbxs {
  padding-bottom: $xsmall-padding;
}
.plxs {
  padding-left: $xsmall-padding;
}
.prxs {
  padding-left: $xsmall-padding;
}
.phxs {
  padding-left: $xsmall-padding;
  padding-right: $xsmall-padding;
}
.pvxs {
  padding-top: $xsmall-padding;
  padding-bottom: $xsmall-padding;
}
.pas {
  padding: $small-padding;
}
.pts {
  padding-top: $small-padding;
}
.pbs {
  padding-bottom: $small-padding;
}
.pls {
  padding-left: $small-padding;
}
.prs {
  padding-right: $small-padding;
}
.phs {
  padding-left: $small-padding;
  padding-right: $small-padding;
}
.pvs {
  padding-top: $small-padding;
  padding-bottom: $small-padding;
}
.pam {
  padding: $medium-padding;
}
.ptm {
  padding-top: $medium-padding;
}
.pbm {
  padding-bottom: $medium-padding;
}
.plm {
  padding-left: $medium-padding;
}
.prm {
  padding-right: $medium-padding;
}
.phm {
  padding-left: $medium-padding;
  padding-right: $medium-padding;
}
.pvm {
  padding-top: $medium-padding;
  padding-bottom: $medium-padding;
}
.pal {
  padding: $large-padding;
}
.ptl {
  padding-top: $large-padding;
}
.pbl {
  padding-bottom: $large-padding;
}
.pll {
  padding-left: $large-padding;
}
.prl {
  padding-right: $large-padding;
}
.phl {
  padding-left: $large-padding;
  padding-right: $large-padding;
}
.pvl {
  padding-top: $large-padding;
  padding-bottom: $large-padding;
}
.paxl {
  padding: $xlarge-padding;
}
.ptxl {
  padding-top: $xlarge-padding;
}
.pbxl {
  padding-bottom: $xlarge-padding;
}
.plxl {
  padding-left: $xlarge-padding;
}
.prxl {
  padding-right: $xlarge-padding;
}
.phxl {
  padding-left: $xlarge-padding;
  padding-right: $xlarge-padding;
}
.pvxl {
  padding-top: $xlarge-padding;
  padding-bottom: $xlarge-padding;
}
.paxxl {
  padding: $xxlarge-padding;
}
.ptxxl {
  padding-top: $xxlarge-padding;
}
.pbxxl {
  padding-bottom: $xxlarge-padding;
}
.plxxl {
  padding-left: $xxlarge-padding;
}
.prxxl {
  padding-right: $xxlarge-padding;
}
.phxxl {
  padding-left: $xxlarge-padding;
  padding-right: $xxlarge-padding;
}
.pvxxl {
  padding-top: $xxlarge-padding;
  padding-bottom: $xxlarge-padding;
}