//TYPOGRAPHY
$base-font-size: 16px;

// PRIMARY COLORS
$brand-default: #5B1A18;
$brand-primary: #D67236; //primary action color
$brand-secondary: #C4A27A;


// OTHER COLORS
$gray1: #404040; //darkest
$gray2: #545454;
$gray3: #C9C9C9;
$gray4: #F0F0F0; //lightest
$white: #FFFFFF;

// SECONDARY COLORS 
$red: #FF0000;
$green: #20A320;
$hyperlink: #0061A0;


// SIZES
$xsmall-padding: 2px;
$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 15px;
$xlarge-padding: 25px;
$xxlarge-padding: 40px;
$xsmall-margin: 2px;
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 15px;
$xlarge-margin: 25px;
$xxlarge-margin: 40px;